@model List<PizzaShop.Domain.DataModels.Role>

@{
    ViewData["Title"] = "Roles";
}

<div class="col-lg-10 border border-danger mt-1 px-3 pt-2">
    <div class="container border border-success p-0">
        <div class="table-responsive bg-white border rounded-2">
            <table class="table p-3">
                <thead>
                    <tr class="d-flex justify-content-between">
                        <th scope="col" class="">Role</th>
                        <th scope="col" class="flex-grow-1 text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr class="d-flex justify-content-between">
                            <td class="flex-grow-1">@role.Name</td>
                            <td class="flex-grow-1 text-end">
                                <a asp-action="RolePermission" asp-route-id="@role.Id"
                                    class="text-decoration-none text-reset">
                                    <i class="fa-solid fa-pen mx-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>