/* Reset password*/
.full-height {
    height: 100vh;
}

@media (max-width: 768px) {
    .image-half {
        height: 50vh;
    }

    .content-half {
        height: 50vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 1rem;
    }
}

.emailPass{
    cursor: pointer; position: absolute;  right: 10px; margin-top: -37px;
}

/* main content css*/
#main-content {
    transition: margin-left 0.3s;
}


.offcanvas.show~#main-content {
    margin-left: 250px;
}

.offcanvas-backdrop.show {
    background-color: transparent;
}


@media (max-width: 700px) {
    .offcanvas.show~#main-content {
        margin-left: 0;
    }

    .offcanvas {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        transition: left 0.3s;
    }

    .offcanvas.show {
        left: 0;
    }
}

/*Add/Edit uset*/

.upload-box {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 2px dashed #151515;
    border-radius: 10px;
    text-align: center;
}

/*menu*/
@media only screen and (min-width: 768px) {
    .menu_table table {
        table-layout: fixed;
        max-width: 100% !important;
    }
}

thead {
    background: #ddd;
}

td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 767px) {

    /* Force table to not be like tables anymore */
    .menu_table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .menu_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .menu_table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    .menu_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .menu_table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    /*
Label the data
*/
    .menu_table td:nth-of-type(1):before {
        content: "Checkbox";
    }

    .menu_table td:nth-of-type(2):before {
        content: "Name";
    }

    .menu_table td:nth-of-type(3):before {
        content: "Item Type";
    }

    .menu_table td:nth-of-type(4):before {
        content: "Rate";
    }

    .menu_table td:nth-of-type(5):before {
        content: "Quantity";
    }

    .menu_table td:nth-of-type(6):before {
        content: "Available";
    }

    .menu_table td:nth-of-type(7):before {
        content: "Action";
    }

    .dataTables_length {
        display: none;
    }
}

/*table Responsive in user list*/

@media only screen and (min-width: 768px) {
    .table {
        table-layout: fixed;
        max-width: 100% !important;
    }
}

thead {
    background: #ddd;
}

.table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 767px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    /*
Label the data
*/
    td:nth-of-type(1):before {
        content: "Name";
    }

    td:nth-of-type(2):before {
        content: "Email";
    }

    td:nth-of-type(3):before {
        content: "Phone";
    }

    td:nth-of-type(4):before {
        content: "Role";
    }

    td:nth-of-type(5):before {
        content: "Status";
    }

    td:nth-of-type(6):before {
        content: "Action";
    }

    .dataTables_length {
        display: none;
    }
}

/*Permison Page css*/

@media only screen and (min-width: 768px) {
    .parent_Table {
        table-layout: fixed;
        max-width: 100% !important;
    }
}

thead {
    background: #ddd;
}

.parent_Table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {

    /* Force table to not be like tables anymore */
   .parent_Table table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .parent_Table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

   .parent_Table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

   .parent_Table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

   .parent_Table .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    /*
Label the data
*/
    .parent_Table td:nth-of-type(1):before {
        content: "Name";
    }

   .parent_Table td:nth-of-type(2):before {
        content: "Email";
    }

    .parent_Table td:nth-of-type(3):before {
        content: "Phone";
    }

    .parent_Table td:nth-of-type(4):before {
        content: "Role";
    }

   .parent_Table td:nth-of-type(5):before {
        content: "Status";
    }

   .parent_Table td:nth-of-type(6):before {
        content: "Action";
    }

    .dataTables_length {
        display: none;
    }
}



.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}